
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.errorMessage1 {
    position: fixed;
    left: 0;
    width:30%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-top: 5px solid #e91635;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 5px 8px rgba(0,0, 0, 0.5);
    animation: slide-up ease 1s, disappear linear 1s 3s forwards;
}

.errorMessage2 {
    position: fixed;
    /* left: 65%; */
    width:31%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-top: 5px solid #1aff1a;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 5px 8px rgba(0,0, 0, 0.5);
    animation: slide-up ease 1s, disappear linear 1s 3s forwards;
}

.errorMessage3 {
    position: fixed;
    left: 69.5%;
    width:30%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-top: 5px solid #d0fa00;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 5px 8px rgba(0,0, 0, 0.5);
    animation: slide-up ease 1s, disappear linear 1s 3s forwards;
}

@keyframes slide-up {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disappear {
    to{
        opacity: 0
    }
}
.message{
    font-size: 20px;
    font-weight: 400px;
}

.iconMessage{
  font-size: 24px;
  color: #1aff1a;
}

.bodyMessage{
    font-size: 24px;
}

.buttons {
    position: relative;
    top: 220px;
}

.bnt1 {
    width: 80px;
    height: 50px;
    border-radius: 7px;
    border: 2px solid white;
    background-color: #e13314;
    color: white
}

.bnt2{
    width: 80px;
    height: 50px;
    border-radius: 7px;
    border: 2px solid white;
    background-color: #1aff1a;
    margin-left: 400px;
    margin-right: 370px;
    color: white
}

.bnt3{
    width: 80px;
    height: 50px;
    border-radius: 7px;
    border: 2px solid white;
    background-color:#899f1a;
    color:antiquewhite;
}

.bnt1:hover, .bnt2:hover ,.bnt3:hover{
    opacity: 0.5;
}